img{
    justify-content: center;
    float:right; 
    display: inline;
    border-radius: 30px;
    width:  40px;
    height: 40px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 25px;
 }
 
 
 .container{
     text-align: center;
     height: 100%;
     width:100%;
     background-color: #e0eeff;
     border-radius: 15px;
     margin-top: 50px;
 }
 
 .footer{
     bottom:0;
     height:100px;   /* Height of the footer */
     border-radius: 15px;
 }
 
 .stretch {
    width: 100%;
    font-size: 0;
    line-height: 0
}

/* FOOTER CSS ABOVE */
/* PORTFOLIO CARDS BELOW */

.portfolioDiv{
    background-color:white;
    border-radius: 15px;
    position:relative;
    left: 50%;
    top: 50%;
    margin-top: 50px;
    max-width: 75%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.section-card{
    border-radius: 15px;
    padding:2em;
    text-align:center;
    margin:1em 2em 1em 2em;
    box-shadow: 0 0 10px rgba(0,0,0);
}

.section-about{
    background-color:#9ada7d;
    padding-bottom: 30px;
}
.aboutMeHeader{
    padding-left: 35px;
    padding-top: 45px;
}

.section-edu{
    background-color:#daaa7d
}
.eduHeader{
    padding-left: 35px;
    padding-top: 45px;
}

.section-contact{
    background-color:#6dbfe6
}

.section-skills{
    background-color:#f88484
}
.skillsHeader{
    padding-left: 35px;
    padding-top: 45px;
}

.section-card-aboutMe{
    height: 100%;
    position: relative;
    animation-name: slideIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.section-card-edu{
    max-width: 100%;
    height: 100%;
    position: relative;
    animation-name: slideIn;
    animation-duration: 2.5s;
    animation-fill-mode: backwards;
}
.section-card-skills{
    max-width: 100%;
    height: 100%;
    position: relative;
    animation-name: slideIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    from {left: -50%;}
    to {left: 0%;}
  }

.loading{
 text-align: center;
 border-radius: 15px;
 position:relative;
 left: 50%;
 top: 50%;
 margin-top: 50px;
 max-width: 75%;
 -webkit-transform: translate(-50%, 0%);
 transform: translate(-50%, 0%);
}

.portfolioDiv{
    margin-top: -45%;
}