section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20% auto auto auto;
}

button {
    border: none;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
color: white;
}